@model IEnumerable<FDMC.App.Models.ViewModels.CatIndexViewModel>
<div class="text-center">

</div>
<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <h1 class="text-center">All Cats</h1>
        <ul class="list-group">
            @foreach (var cat in Model)
            {
                <li class="list-group-item text-center">
                    <a href="/cat/@cat.Id">@cat.Name</a>
                </li>
            }
        </ul>
        <a href="/add">
            <input type="submit" class="btn btn-primary col-md-offset-4" value="Add Cat">
        </a>
    </div>
</div>