@model FDMC.App.Models.ViewModels.CatDetailsViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <div class="card" style="width: 54rem;">
                <img class="card-img-top" src="@Model.Image" alt="Card image cap">
                <div class="card-body text-center">
                    <h1 class="card-title">@Model.Name</h1>
                    <p class="card-text">@Model.Age</p>
                    <p class="card-text">@Model.Breed</p>
                </div>
            </div>
        </div>
    </div>
</div>